
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

:root {
    --backgronud: #FFF0E2;
    --cor-primaria: #EC4D1B;
    --cor-secundaria: #FF9A3C;
    --black: #000000;
}

body {
    height: 100vh;
    padding: 0px 16px;
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
}

header, .section1, .section2, footer {
    border: 1px solid black;
    padding: 25px;
}

header .logo {
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 22px;
}

header nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.button-header-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.button-header {
    width: 200px;
    height: 48px;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}

.section1 {
    padding-right: 0px;
    padding-bottom: 16rem;
}

.imagem-principal {
    display: block;
    margin: 20px 0px 0px auto;
    width: 100%;
}

.titulo {
    font-size: 3rem;
    line-height: 120%;
    margin: 20px 0px;
}

.cor-titulo {
    position: relative;
    display: block;
    color: #EC4D1B;
}

.cor-titulo::after {
    position: absolute;
    content: '';
    background: url(../imagens/three-dashes.svg);
    top: -7px;
    width: 50px;
    height: 50px;
}

.section1 p {
    padding-right: 15px;
    line-height: 20px;
    margin-bottom: 25px;
}

.button-section1 {
    position: relative;
    width: 200px;
    height: 48px;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}

.button-section1::after {
    content: '';
    background: url(../imagens/arrow-curve.svg);
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
}

.caixa {
    background-color: var(--cor-primaria);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
}

.caixa:nth-child(2n) {
    align-self: end;
    background-color: var(--cor-secundaria);
}

.caixa h2 {
    font-size: 1.6rem;
    margin: 1rem 0px;
}

.caixa a {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 3rem;
    margin-right: 10px;
}

.fim-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5rem 0px;
}

.fim-container h1 {
    font-size: 2.4rem;
}

.fim-container h1 .cor-titulo2 {
    color: var(--cor-primaria);
}

.botao-fim-container {
    width: 225px;
    height: 48px;
    margin-top: 1rem;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}

footer {
    padding: 1rem 1.25rem 4rem;
}

footer img {
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 3rem;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

footer h2 {
    font-size: 1.6rem;
}

footer input {
    display: block;
    margin: 1rem 0px;
    width: 272px;
    height: 48px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    font-size: 1rem;
    padding-left: 5px;
}

footer button {
    width: 225px;
    height: 48px;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}