
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

:root {
    --backgronud: #FFF0E2;
    --cor-primaria: #EC4D1B;
    --cor-secundaria: #FF9A3C;
    --black: #000000;
}

body {
    height: 100vh;
    padding: 0px 16px;
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
}

header .logo {
    display: block;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 20px;
}

header nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

header, .section1, .section2, footer {
    border: 1px solid black;
    padding: 25px;
}

.button-header-pai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-header {
    width: 200px;
    height: 48px;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}

.section1 {
    padding-right: 0px;
    padding-bottom: 16rem;
}

.imagem-principal {
    display: block;
    margin: 20px 0px 0px auto;
    width: 100%;
}

.titulo {
    font-size: 3rem;
    line-height: 120%;
    margin: 20px 0px;
}

.cor-titulo {
    display: block;
    color: #EC4D1B;
}

.section1 p {
    padding-right: 15px;
    line-height: 20px;
    margin-bottom: 25px;
}

.button-section1 {
    position: relative;
    width: 200px;
    height: 48px;
    border: 2px solid black;
    background-color: #EC4D1B;
    box-shadow: 4px 4px 0px black;
    font-size: 20px;
    cursor: pointer;
}

.button-section1::after {
    content: '';
    background: url(../imagens/arrow-curve.svg);
    position: absolute;
    top: 5rem;
    right: -4rem;
    height: 48px;
    width: 132px;
}